:root {
  --code-font: "Source Code Pro", sans-serif;
}

body {
  font-family: var(--code-font);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.square {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  width: 100%;
  height: 100%;
  max-height: 10rem;
  padding: 10px;
  border: 1px solid #888;
  resize: none;
  font-size: 0.8rem;
}

.text-box::placeholder {
  color: #999;
}

#submit-button {
  margin: 1rem 0rem;
  font-size: 1rem;
  font-family: var(--code-font);
  padding: 0.5rem;
}

.textBoxContainer {
  display: flex;
}

.cyan-text {
  color: #297390;
}

.orange-text {
  color: #dd7b3c;
}

.output-text {
  width: 100%;
  height: 100%;
  max-height: 10rem;
  padding: 10px;
  border: 1px solid #888;
  resize: none;
  font-size: 0.8rem;
  white-space: pre;
  color: #999;
}

.error-message {
  display: none;
  margin-top: 4.6rem;
  position: absolute;
  font-size: 0.6rem;
  color: red;
  transition: opacity 2s;
}

.eraseIcon:hover,
.clipboardIcon:hover {
  cursor: pointer;
}

.eraseIcon {
  position: absolute;
  bottom: 1rem;
  right: 0.4rem;
  height: 1.5rem;
}

.clipboardIcon {
  position: absolute;
  top: 1rem;
  right: 0.4rem;
  height: 1.25rem;
}

/* Dark Mode */

.dark-mode {
  background: var(--bg-color-dark);
  color: white;
}

.textbox-dark {
  background: var(--bg-textbox-dark);
}

.input-dark {
  color: aliceblue;
}
.input-dark::placeholder {
  color: white;
}

.output-dark {
  color: aliceblue;
}

.part2-text-dark {
  color: rgb(243, 196, 149);
}

.part1-text-dark {
  color: rgb(138, 132, 255);
}
